# Distribution / packaging
.Python
.idea
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
node_modules/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg
.env
*.pyc
**/__pycache__/
__pycache__/

# Serverless directories
.serverless