aniso8601==8.0.0
attrs==19.3.0
backoff==1.10.0
boto3==1.14.33
botocore==1.17.33
certifi==2022.12.7
chardet==3.0.4
click==7.1.2
docutils==0.16
Flask==1.1.2
Flask-RESTful==0.3.8
idna==2.10
injector==0.18.3
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
marshmallow==3.7.1
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pydantic==1.6.1
pynamodb==4.3.2
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.8.1
python-decouple==3.3
python-dotenv==0.14.0
python-rapidjson==0.9.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
s3transfer==0.3.3
six==1.15.0
structlog==20.1.0
typing-extensions==3.7.4.2
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==1.0.1
